* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;

}

#left {
    width: 150px;
    height: 100%;
    float: left;
    background-color: #555555;
}

#right {
    height: 100%;
    display: inline-block;
    float: left;
    width: -webkit-calc(100% - 150px);
    width: -moz-calc(100% - 150px);
    width: calc(100% - 150px);
}

#left > div {
    height: 70px;
}

#left > ul {

}

#left > ul > li {

}

.li-hover {
    background-color: #7D0C0F;
    border-right: 2px solid #D10D10;
    box-shadow: 2px 0 5px black;


}

.li-click {
    background-color: #af0d10;
    box-shadow: 2px 0 5px black;
}

#left > ul > li > div {
    height: 90px;
    width: 90px;
    border-radius: 50%;
    background: white;
    text-align: center;
    font-size: 3.5em;
}

i {
    color: #555555;
}

.i-hover {
    color: #7D0C0F
}

.i-click {
    color: #af0d10;
}

#left > ul > li > span {
    font-size: 1.5em;
}

#left > ul > li > ul {
    position: relative;
    left: 120px;
    top: -136px;
    display: none;
    z-index: 2;
}

#left > ul > li > ul > li {
    color: #7D0C0F;
    position: relative;
    margin-bottom: 10px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    background-color: white;
    cursor: pointer;
}

#left > ul > li > ul > li:after {
    position: absolute;
    left: 100px;
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid white;
    border-top: 40px solid transparent;
    border-bottom: 0px solid transparent;
}

#head {
    height: 70px;
    border-bottom: 5px solid #555555;
}

/**
员工管理-----------------------------------------------------------------
 */
/*左*/
#content {
    height: -webkit-calc(100% - 70px);
    height: -moz-calc(100% - 70px);
    height: calc(100% - 70px);
    background: url(../img/contt.jpg);
    background-size: auto 100%;
}

#content > div {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    padding: 25px;
}

#content-worker > div:first-child {
    display: inline-block;
    float: left;
    height: 100%;
    width: 75%;
    margin-right: 10px;
    text-align: center;
    position: relative;
}

table {
    width: 100%;
    border: 1px solid;
}

th, tr, td {
    text-align: center;
    height: 1.3rem;
    line-height: 1.3rem;
    border: 1px solid #bababa;
    background-color: white;
}

table th {
    height: 40px;
    background-color: #af0d10;
    color: white;
}

table button {
    width: 50px;
    border-radius: 2px;
    margin: 5px;
    border: 0px;
    padding: 2px;
}

button.edit {
    background-color: #2180B2;
}

button.delete {
    background-color: #af0d10;
}

button.edit i, button.delete i {
    color: white;
}

/**
分页样式
 */
#pageCon {
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-bottom: 8px;
}

#pageCon li {
    color: #EFEFEF;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

#pageCon i {
    color: #EFEFEF
}

#pageCon li:hover, #pageCon i:hover {
    color: #A7A7A7;
    cursor: pointer;
}

/*右*/
#content-worker > div:last-child {
    display: inline-block;
    float: left;
    width: -webkit-calc(25% - 10px);
    width: -moz-calc(25% - 10px);
    width: calc(25% - 10px);
    height: 100%;
    border: 1px solid #bababa;
}

#crudUser {
    background-color: #c2c2c2;
    padding: 12px;

}

#crudUser > div {
    height: 50px;
    width: 100%;
    background-color: #555555;
    color: white;
    text-align: center;
    line-height: 50px;
}

#crudUser > form {
    border: 1px solid #ddd;
    padding: 15px;
    background-color: white;
}

#crudUser label {
    display: block;
}

#crudUser input[type=text] {
    width: 100%;
    height: 2.5rem;
    border-radius: 4px;

}

#crudUser input[type=radio] {

}

.SelectSex {

}

#crudSubmit {
    border: 0;
    padding: 10px;
    border-radius: 5px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

#crudUser > form > div {
    margin-bottom: 5px

}

#crudUser > form > div > label {

}

#crudUser > form > div > input {

}


/**-------------------------------------------------------------------**/
/**
菜单管理
 */
#content-catalog {
    height: 100%;
    width: 100%;
    position: relative;
}

#content-catalog > div:first-child {
    width: 100%;
    height: calc(100% - 80px);
}

#content-catalog > div:last-child {
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
    margin-left: -25px;
    margin-bottom: -25px;
}

#catalogList > ul {
    width: 100%;
    height: 85px;
    line-height: 85px;
    text-align: center;
}

#catalogList > ul > li {
    width: 120px;
    padding: 0;
    display: inline-block;
    color: white;
    height: 100%;
    cursor: pointer;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 20px;
    font-weight: 600;
    border-left: 5px solid white;
    border-right: 5px solid white;
}

.ctlHover, #catalogList > ul > li:hover {
    transition-property: all;
    transition-duration: 150ms;
    border: 0;
    background-color: #af0d10;
    transform: scale(1.2);
}

#catalog-food {
    text-align: center;
    position: relative;
}

#catalog-food > ul {
    height: 100%;
    margin: 0 auto;
    width: 86%;
    line-height: 0;
}

#catalog-food > ul > li {
    display: inline-block;
    width: calc(100% / 3);
    height: 50%;
    border: 1px solid transparent;
}

#catalog-food > ul > li > div {
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
}

#catalog-food > ul > li > div > img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

#catalog-food > ul > li > div > div {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 20px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

#catalog-food > ul > li > div > div > span:first-child {
    position: absolute;
    right: 5px;
    top: 5px;
}

#catalog-food > ul > li > div > div > span > i:first-child:hover {
    transform: scale(1.1);
    color: #af0d10;
    cursor: pointer;
}

#catalog-food > ul > li > div > div > span:last-child {
    display: inline-block;
    position: relative;
    width: 100%;
    top: 50%;
    height: 100px;
    margin-top: -50px;
}

#catalog-food > ul > li > div:hover {
    transition-duration: 100ms;
    transform: scale(1.2);
    position: relative;
    z-index: 10;
}

#catalog-food > span > i {
    font-size: 48px;
    color: white;
    position: absolute;
    top: 50%;
    margin-top: -24px;
    cursor: pointer;
}

.fa-arrow-left {
    left: 20px;
}

.fa-arrow-right {
    right: 20px;
}

/**
 * 自制模态框
 */
#food-modal {
    position: absolute;
    width: 30%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: rgba(62, 62, 62, 1.00);
    box-shadow: -5px 0px 10px black;
    display: none;
}

.closeBar {
    width: 45px;
    height: 100%;
    position: relative;
    display: inline-block;
}

.closeBar > div {
    width: 0;
    height: 0;
    border-left: 40px solid white;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-right: 0px;
    position: absolute;
    top: 50%;
    margin-top: -50px;
}

#food-details {
    width: calc(100% - 45px);
    height: 100%;
    background-color: white;
    display: inline-block;
    text-align: center;
}

#food-details > div:first-child {
    position: absolute;
    width: 100%;
    height: 300px;
}

#food-details > div:first-child > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 15px;
}

#food-details table {
    height: 100%;
    margin: 0 15px;
    border-radius: 10px;
}

#food-details table tr > td:first-child {
    font-size: 17px;
    font-weight: 700;
}

#food-details table tr:first-child > td {
    font-size: 24px;
    letter-spacing: 5px;
}

#food-details button {
    border: 0;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 3px;
    color: white;
}

#subFood {
    background-color: #137FAA;
    margin-right: 10px;
}

#delFood {
    background-color: #af0d10;
    margin-left: 10px;
}
























