*{
	margin:0;
	padding: 0;
}
html,body{
	height: 100%;
	width: 100%;
}
#left{
	width: 150px;
	height: 100%;
	float: left;
	background-color: #555555;
}
#right{
	height: 100%;
	display: inline-block;
	float: left;
	width: -webkit-calc(100% - 150px);
	width: -moz-calc(100%- 150px);
	width: calc(100% - 150px);
}
#left>div{
	height: 70px;
}
#left>ul{

}
#left>ul>li{
	width: 150px;
	height: 140px;
	padding: 10px 30px 10px 30px;
	margin-bottom: 10px;
	text-align: center;
	color: white;
	-webkit-transition: background-color 200ms linear;
	-moz-transition: background-color 200ms linear;
	-o-transition: background-color 200ms linear;
}
.li-hover{
	background-color: #7D0C0F;
	border-right: 2px solid #D10D10;
	box-shadow: 2px 0 5px black;


}
.li-click{
	background-color: #af0d10;
	box-shadow: 2px 0 5px black;
}
#left>ul>li>div{
	height: 90px;
	width: 90px;
	border-radius: 50%;
	background: white;
	text-align: center;
	font-size: 3.5em;
}
i{color: #555555;}
.i-hover{color: #7D0C0F}
.i-click{color: #af0d10;}

#left>ul>li>span{
	font-size: 1.5em;
}
#left>ul>li>ul{
	position: relative;
	left: 120px;
	top: -136px;
	display: none;
	z-index: 2;
}
#left>ul>li>ul>li{
	color: #7D0C0F;
	position: relative;
	margin-bottom: 10px;
	width: 100px;
	height: 40px;
	line-height: 40px;
	padding: 0;
	background-color:white;
	cursor: pointer;
}
#left>ul>li>ul>li:after{
	position: absolute;
	left: 100px;
	content: "";
	width: 0;
	height: 0;
	border-left: 20px solid white;
	border-top: 40px solid transparent;
	border-bottom: 0px solid transparent;
}
#head{
	height: 70px;
	border-bottom: 5px solid #555555;
}
/**
员工管理
 */
#content{
	height: -webkit-calc(100% - 70px);
	height: -moz-calc(100% - 70px);
	height: calc(100% - 70px);
	background: url(../img/contt.jpg);
	background-size: auto 100%;
}
#content>div{
	width: 100%;
	height: 100%;
	padding: 25px;
	display: none;
}
#content-worker>div:first-child{
	display: inline-block;
	float: left;
	height: 100%;
	width: 75%;
	border: 1px solid #BABABA;
	margin-right: 10px;
	text-align: center;
	position: relative;
}
#content-worker>div:last-child{
	display: inline-block;
	float: left;
	width: -webkit-calc(25% - 10px);
	width: -moz-calc(25% - 10px);
	width: calc(25% - 10px);
	height: 100%;
	border: 1px solid #bababa;
}
table{
    width: 100%;
    border: 1px solid;
}
th,tr,td{
    border: 1px solid white;
    text-align: center;
    height:30px;
    line-height: 30px;
    color: white;
}
table th{
    color: white;
    height: 40px;
    background-color: #af0d10;
}
table button{
    width: 50px;
    border-radius: 2px;
    margin: 5px;
    border: 0px;
    padding: 2px;
}
button.edit {background-color: #2180B2; color: white}
button.delete {background-color: #af0d10; color: white}
/**
分页样式
 */
#pageCon{
	position: absolute;
	bottom: 0px;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding-bottom: 25px;
}
#pageCon li{
    color:#EFEFEF;
	display: inline;
	margin-left: 10px;
	margin-right: 10px;
}
#pageCon i{color:#EFEFEF}
#pageCon li:hover,#pageCon i:hover{
	color: #A7A7A7;
	cursor: pointer;
}
/**-------------------------------------------------------------------**/
/**
food style
 */
#content-catalog{
	border: 1px solid white;
}
#content-catalog>ul{
	width: 100%;
	height: 100%;
}
#content-catalog>ul>li{
	display: inline-block;
	width: 200px;
	height: 200px;
	border: 1px solid white;
	color: white;
	text-align: center;
}
#content-catalog>ul>li:hover{
    cursor: pointer;
}
#content-food{

}