body,html{
    margin: 0px;
    padding: 0px;
}
header{
    width: 100%;
    height: 15rem;
    background-color: #f4b50e;
}
#content{
    border: 1px solid #6c757d;
    width: 25em;
    padding: 0px;
    margin:0 auto;
    margin-top: 2rem;
}
#content>ul{
    text-align: center;
    padding: 0;
    border:0;
}

#content>ul>li{
    height: 3em;
    line-height: 3em;
    font-size: 1.2em;
    color: black;
    list-style: none;
    display: inline-block;
    width: 50%;
    background-color:#eeeeee;
    margin: 0;
}
/**
tab悬浮，点击样式控制
 */
#content>ul>li:hover{
    background-color:#f4b50e;
    color: #ffffff;
}
.tabSwitch{
    background-color:#f4b50e;
    color: #ffffff;
}
#login{
    padding: 0.8em;
}
#login>form>input{
    margin-bottom: 0.6em;
    width: 100%;
}
footer{
    width: 100%;
    margin: 0 auto;
    background-color: #eeeeee;
    height: 8rem;
    position: absolute;
    bottom: 0px;
}