body,html{
    margin: 0px;
    padding: 0px;
}
header{
    padding: 1em 190px 1em;
    letter-spacing: -1px;
    text-align: center;
}
.header h1 {
    color: #D5D6E2;
    font-weight: bold;
    font-size: 2em;
    line-height: 1;
    font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
}
.header h1 span {
    font-family: "Microsoft YaHei","宋体","Segoe UI", "Lucida Grande", Helvetica, Arial,sans-serif, FreeSans, Arimo;
    display: block;
    font-size: 60%;
    font-weight: 400;
    padding: 0.8em 0 0 0;
    color: #c3c8cd;
}
#content{
    border: 1px solid black;
    width: 30%;
    float: right;
    margin-right: 3em;
}
#content>ul{
    text-align: center;
    padding: 0;
}

#content>ul>li{
    height: 3em;
    line-height: 3em;
    font-size: 1.2em;
    color: white;
    list-style: none;
    display: inline-block;
    width: 49.5%;
    background-color: green;
    margin: 0;
}
#login{
    padding: 0.8em;
}
#login>form>input{
    margin-bottom: 0.6em;
    width: 100%;
}
